In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

In [2]:
df_main = pd.read_csv('./World-Stock-Prices-Dataset.csv')

In [3]:
df_main

,Date,Open,High,Low,Close,Volume,Brand_Name,Ticker,Industry_Tag,Country,Dividends,Stock Splits,Capital Gains
0,2025-07-03 00:00:00-04:00,6.630000,6.740000,6.615000,6.640000,4209664.0,peloton,PTON,fitness,usa,0.0,0.0,NaN
1,2025-07-03 00:00:00-04:00,106.750000,108.370003,106.330101,107.339996,560190.0,crocs,CROX,footwear,usa,0.0,0.0,NaN
2,2025-07-03 00:00:00-04:00,122.629997,123.050003,121.550003,121.930000,36600.0,adidas,ADDYY,apparel,germany,0.0,0.0,NaN
3,2025-07-03 00:00:00-04:00,221.705002,224.009995,221.360001,223.410004,29295154.0,amazon,AMZN,e-commerce,usa,0.0,0.0,NaN
4,2025-07-03 00:00:00-04:00,212.145004,214.649994,211.810104,213.550003,34697317.0,apple,AAPL,technology,usa,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
310117,2000-01-03 00:00:00-05:00,38.147537,38.255972,35.935457,37.496925,53076000.0,cisco,CSCO,technology,usa,0.0,0.0,NaN
310118,2000-01-03 00:00:00-05:00,25.215814,25.330655,24.690826,24.772856,2173400.0,3m,MMM,manufacturing,usa,0.0,0.0,NaN
310119,2000-01-03 00:00:00-05:00,72.313085,72.405794,71.756831,72.034958,21200.0,toyota,TM,automotive,japan,0.0,0.0,NaN
310120,2000-01-03 00:00:00-05:00,7.289986,7.342182,7.098602,7.168196,882200.0,nordstrom,JWN,retail,usa,0.0,0.0,NaN
310121,2000-01-03 00:00:00-05:00,5.731675,5.793975,5.427959,5.482471,5825700.0,american eagle outfitters,AEO,apparel,usa,0.0,0.0,NaN

In [4]:
df_main["Brand_Name"].unique()

array(['peloton', 'crocs', 'adidas', 'amazon', 'apple', 'nike', 'target',
       'google', 'spotify', 'zoom video communications',
       'the walt disney company', 'roblox', 'delta air lines', 'costco',
       'southwest airlines', 'american eagle outfitters', 'tesla',
       'starbucks', 'nvidia', 'salesforce / slack', 'honda',
       'colgate palmolive', 'hershey company', 'chipotle', 'pinterest',
       'logitech', 'shopify', 'amd', 'american express', 'coinbase',
       'mastercard', "mcdonald's", 'adobe', 'unilever', 'cisco',
       'jpmorgan chase & co', 'airbnb', 'marriott', 'toyota', 'hilton',
       'the home depot', 'johnson & johnson', 'uber', 'procter & gamble',
       'fedex', '3m', 'philips', 'foot locker', 'the coca-cola company',
       'microsoft', 'visa', 'lvmh', 'zoominfo', 'ubisoft', 'netflix',
       'puma', 'nintendo', 'bmw group', 'porsche', 'twitter', 'nordstrom',
       'block'], dtype=object)